
# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb_checkpoints/

# Datos
*.csv
*.xlsx
*.pkl
*.hdf5
data/
datasets/

# Entornos virtuales
venv/
.venv/
env/
venv*/

# Archivos del sistema
.DS_Store
Thumbs.db

# Configuración IDE
.idea/
.vscode/
*.code-workspace

# Archivos temporales
~$*
*.tmp

# Logs
*.log
logs/
